<%- include("partials/header") %>

<h1>HALLLOOOO</h1>


<% blogs.forEach(function(blog){  %>
<div>
    <h2><%=    blog.title  %></h2>
    <img src="<%=    blog.image  %>" alt="">
    <p><%=    blog.body.substring(0,150)  %>...</p>
    <!-- <h3><%=    blog.created  %></h3> -->
    <!-- Pass mongo id -->
    <a href="/blogs/<%= blog._id %>">Read More</a>
</div>
<%   }) %>


<%- include("partials/footer") %>