<%- include("partials/header") %>

<h1>HALLLOOOO</h1>


<% blogs.forEach(function(blog){  %>
<div>
    <h2><%=    blog.title  %></h2>
    <img src="<%=    blog.image  %>" alt="">
    <h3><%=    blog.body  %></h3>
    <h3><%=    blog.created  %></h3>
</div>
<%   }) %>


<%- include("partials/footer") %>